#Navbar {
background-color: #3AC0f5;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0px;
padding: 10px; 
height: 70px;
}

#Section {
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 15px;
    font-size: 1.8rem;
}

body{
    margin: 0px;
    background-color: #3AC0f5;
}

#arrow {
    background-color: #2B8EB5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 30px;
}
#home_css {
    margin-left: 15px;
}
#profile_css{
    margin-right: 15px;
}
